<div class="prs-header">
  <span class="abbr bold">SLM BCM</span>
  <span class="name bold">Build cylinder magazine</span>
</div>

<div class="col-xs-12 col-md-6 build-job-container" *ngFor="let i of buildCylinderMagazineObject">
  <div class="build-job-container-wrapper">
    <div class="build-job-name">
      <span>Build job x Zeile</span>
    </div>
    <div class="build-status-container">
      <div class="status-color"></div>
      <div class="wrapper">
        <span class="status-name">Empty Slot</span>
        <span class="status-description"></span>
      </div>
    </div>
  </div>
</div>
